@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0;
}

.body {
    background-color: white;
    color: black;
    height: auto;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
  }

.container {
    margin: 0px;
    padding: 0px;
}

.tickermarq {
    border-top: 10px;
    border-bottom: 10px;
    padding-top: 10;
}

.imgg {
    border-top: 30px;
}

.nlink {
    border: none;
    text-decoration: none;
    color: black;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;

}

.nlink:hover {
    /* Increase the scale on hover to make the text pop up */
    color: grey;
}


p {
    padding: 0;
    border: 0;
    margin-top: -20px;
    margin-bottom: -20px;
}